.h1 {
  font-size: 40px;
  font-weight: bold;
}

.h2 {
  font-size: 30px;
  font-weight: 600;
}

.h3 {
  font-size: 34px;
  font-weight: 600;
}

.h4 {
  font-size: 28px;
  font-weight: 600;
}

.h5 {
  font-size: 24px;
  font-weight: 600;
}

.h6 {
  font-size: 18px;
  font-weight: 600;
}

.p {
  font-size: 14px;
  font-weight: 400;
}
