.product-carousel .splide__arrow {
  width: 2rem;
  height: 2rem;
  opacity: 0.7;
}

.product-carousel .splide__arrow svg {
  width: 1rem;
  height: 1rem;
}

.product-carousel .splide__arrow:hover {
  opacity: 1;
}
